name: Maven Selenium + RestAssured + TestNG

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Cache Maven dependencies
        uses: actions/cache@v4
        with:
          path: ~/.m2
          key: maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: maven-

      - name: Run Tests
        run: mvn clean test
        continue-on-error: true   # IMPORTANT: upload reports even if tests fail

      - name: Upload TestNG Reports
        uses: actions/upload-artifact@v4
        with:
          name: testng-reports
          path: target/surefire-reports
